<div class="recetasDiv">
    <br><br>
    <div class="carrouselDiv">
        <div class="titleVarietales container center-align">
            <a href="/contacto" class="waves-effect waves-light btn">Hacer pedido</a>

        </div>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="gallery row">
                    <div class="col l4 m4 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/corazonDeMaguey.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Corazón de Maguey</span> <br>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Corazón de Maguey</h3>
                                    <span class="price">Matices frescos, herbales & cítricos.</span>
                                </div>
                                <p class="description">
                                    Coctel versatil en paladar. <br> Puede maridarse con ceviches, pescados asados,
                                    pastas
                                    cremosas y ensaladas que contengan: menta, hierbabuena, pera y manzana. También con
                                    quesos como: Brie, Camembert, queso crema y queso panela.</p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">¾ de taza de agua mineral o refresco</li>
                                    <li class="collection-item">1 cucharada de jugo de limón</li>
                                    <li class="collection-item">1 onza de mezcal Siete Lunas</li>
                                    <li class="collection-item">Hierbabuena</li>
                                </ul>
                                </p>


                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/mezcalitaFrutosRojos.jpg"
                                    alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Mezcalita de frutos rojos</span>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Mezcalita de frutos rojos</h3>
                                    <span class="price">Matices dulces, ácidos, florales y frescos.</span>
                                </div>
                                <p class="description">
                                    Coctel de carácter frutal, dulce y floral. <br> Puede maridarse con ensaladas que
                                    contengan fresas, nueces caramelizadas y queso de cabra. También puede consumirse en
                                    compañía de quesos como el camembert y el brie. Por último, los sandwiches y wraps
                                    quedan muy bien como opción para esta bebida. </p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">1/2 taza de frambuesas</li>
                                    <li class="collection-item">1 cucharada de azúcar</li>
                                    <li class="collection-item">2 caballitos de mezcal</li>
                                    <li class="collection-item">1 lata de agua mineral</li>
                                    <li class="collection-item">1 lata de refresco de limón</li>
                                    <li class="collection-item">Hielo al gusto</li>
                                    <li class="collection-item">1/2 taza de zarzamoras</li>
                                </ul>
                                </p>

                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/mezcalSweetSour.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>Receta: Mezcal Sweet & Sour</span>
                            </div>
                            <div class="gallery-body">
                                <div class="title-wrapper">
                                    <h3>Receta: Mezcal Sweet & Sour</h3>
                                    <span class="price">Matices dulces, ácidos, picantes y minerales.</span>
                                </div>
                                <p class="description">
                                    Coctel de carácter amaderado, dulce y muy presente. <br> Puede maridarse con carnes
                                    rojas de corte graso, platillos con tuétano y tacos de carnitas. También con pastas
                                    cremosas, mariscos y antojitos mexicanos. </p>
                                <p class="description">
                                    Ingredientes:
                                <ul class="collection">
                                    <li class="collection-item">1 oz mezcal 7 lunas</li>
                                    <li class="collection-item">2 1/2 oz jugo de piña natural</li>
                                    <li class="collection-item">2 1/2 oz jugo de limón natural</li>
                                    <li class="collection-item">2 cucharadas miel de agave</li>
                                    <li class="collection-item">2 Oz agua mineral</li>
                                    <li class="collection-item">Hielo al gusto</li>
                                    <li class="collection-item" style="font-weight: bolder;">Para presentar:</li>
                                    <li class="collection-item">Chamoy al gusto</li>
                                    <li class="collection-item">Sal de gusano</li>
                                    <li class="collection-item">Hojas de hierbabuena</li>
                                </ul>
                                </p>

                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            

        </div><!-- /.container -->

    </div>